/* BottomDialogBox.css */
.bottom-dialog-container {
    position: fixed;
    bottom: 50px;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-out;
    transform: translateY(100%);
    z-index: 0;
  }
  
  .bottom-dialog-container.open {
    transform: translateY(0);
  }
  
  .bottom-dialog-content {
    padding: 20px;
  }
  
  .close-btn {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  